

<form type="get" action="/home"> 
  <input type="submit" class="btn btn-success" value="Back" />
</form>
<div>
<pre>
<div class="alert alert-success">
  <strong>Success!</strong> Items created successfully.
</div>
 {{ data }}
 </pre>
</div>