

<form type="get" action="/home"> 
  <input type="submit" class="btn btn-success" value="Back" />1
</form>
<div>
<pre>
 



<!-- {% if data %} -->
<!-- <div class="alert alert-success"> -->
  <!-- <strong>Success!</strong> Items created successfully. -->
  <!-- {{ data }} -->
<!-- </div> -->
 
 <!-- {% else %} -->
 <!-- <div class="alert alert-danger"> -->
  <!-- <strong>Error!</strong> Somthing went wrong. -->
<!-- </div> -->
 <!-- {% endif %} -->
 </pre>
</div>