<div>
<pre>
 {{ data }}
 </pre>
</div>

<form>
 <fieldset>
  <legend>Create Items :</legend>
  Brand: <input type="text">
  <input type="submit" class="btn btn-success" value="submit" />
 </fieldset>
</form>
