<!DOCTYPE html>
<html>
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title></title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
	<style type="text/css">
		fieldset.scheduler-border {
		    border: 1px groove #ddd !important;
		    padding: 0 1.4em 1.4em 1.4em !important;
		    margin: 0 0 1.5em 0 !important;
		    -webkit-box-shadow:  0px 0px 0px 0px #000;
		            box-shadow:  0px 0px 0px 0px #000;
		}
		legend.scheduler-border {
		    width:inherit; /* Or auto */
		    padding:0 10px; /* To give a bit of padding on the left and right */
		    border-bottom:none;
		}
	</style>
</head>
<body>

<!-- <div class="alert alert-success">
  <strong>Success!</strong> Items created successfully.
</div> -->
{{ data }}
	<div class="row">
		<div class="col-md-6">
		<form id="StoreItems" type="get" action="/importProduct">
			<fieldset class="scheduler-border">
			    <legend class="scheduler-border">Create Items :</legend>
			    <div class="control-group">
			        Brand: <!-- <input type="text" name="brand" > -->
<select name="brand">
<option value="Ana Lublin">Ana Lublin</option>
<option value="Annarita N">Annarita N</option>
<option value="Arnaldo Toscani">Arnaldo Toscani</option>
<option value="Avirex">Avirex</option>
<option value="Balmain">Balmain</option>
<option value="Bikkembergs">Bikkembergs</option>
<option value="Birkenstock">Birkenstock</option>
<option value="Blu Byblos">Blu Byblos</option>
<option value="Brooks Brothers">Brooks Brothers</option>
<option value="Calvin Klein">Calvin Klein</option>
<option value="CR7 Cristiano Ronaldo">CR7 Cristiano Ronaldo</option>
<option value="Carrera Jeans">Carrera Jeans</option>
<option value="Cerruti">Cerruti</option>
<option value="Cerruti 1881">Cerruti 1881</option>
<option value="Cesare Paciotti">Cesare Paciotti</option>
<option value="Coca Cola">Coca Cola</option>
<option value="DC Comics">DC Comics</option>
<option value="Datch">Datch</option>
<option value="Dolce &amp; Gabbana">Dolce &amp; Gabbana</option>
<option value="Dsquared">Dsquared</option>
<option value="Duca di Morrone">Duca di Morrone</option>
<option value="Elle Sport">Elle Sport</option>
<option value="Enrico Coveri">Enrico Coveri</option>
<option value="Fontana2.0">Fontana2.0</option>
<option value="Gas">Gas</option>
<option value="Gattinoni">Gattinoni</option>
<option value="Gioseppo">Gioseppo</option>
<option value="Guru">Guru</option>
<option value="Imperial">Imperial</option>
<option value="Jaggy">Jaggy</option>
<option value="La Martina">La Martina</option>
<option value="Laura Biagiotti">Laura Biagiotti</option>
<option value="Lokita">Lokita</option>
<option value="Lumberjack">Lumberjack</option>
<option value="Made in Italia">Made in Italia</option>
<option value="Marvel">Marvel</option>
<option value="Miss Miss">Miss Miss</option>
<option value="Navigare">Navigare</option>
<option value="New Laviva">New Laviva</option>
<option value="No Limits">No Limits</option>
<option value="Oxford University">Oxford University</option>
<option value="Paris Hilton">Paris Hilton</option>
<option value="Philipp Plein">Philipp Plein</option>
<option value="Pierre Cardin">Pierre Cardin</option>
<option value="Pierre Cardin Underwear">Pierre Cardin Underwear</option>
<option value="Pinko">Pinko</option>
<option value="Piquadro">Piquadro</option>
<option value="Plein Sport">Plein Sport</option>
<option value="Polaroid">Polaroid</option>
<option value="Police">Police</option>
<option value="Putney Bridge">Putney Bridge</option>
<option value="Renato Balestra">Renato Balestra</option>
<option value="Rifle">Rifle</option>
<option value="Rinascimento">Rinascimento</option>
<option value="Seventy Seven">Seventy Seven</option>

</select>
				  <input type="submit" class="btn btn-success" value="submit" />
			    </div>
			</fieldset>
			</form>

			<form id="scockManagement" type="get" action="/stockManagement">
			<fieldset class="scheduler-border">
			    <legend class="scheduler-border">Update Stock :</legend>
			    <div class="control-group">
			       <input type="submit" class="btn btn-success" value="Update" id="stockUpdate" />
			    </div>
			</fieldset>
			</form>


			<!-- <form id="StoreItems" type="get" action="/importProduct">
			 <fieldset>
			  <legend>Create Items :</legend>
			  Brand: <input type="text" name="brand" >
			  <input type="submit" class="btn btn-success" value="submit" />
			 </fieldset>
			</form> -->

			<!-- <form id="scockManagement" type="get" action="/stockManagement">
			 <fieldset>
			  <legend>Update Stock :</legend>			  
			  <input type="submit" class="btn btn-success" value="Update" />
			 </fieldset>
			</form> -->
		</div>
		<div class="col-md-6"></div>
	</div>
	<script type="text/javascript">

		$(document).ready(function(){
			setTimeout(function() {
			    $("#stockUpdate").trigger('click');
			 }, 3.6e+6);
		// 	$('.alert-success').css("display","none");
			
		// 	$('#StoreItems').submit(function(e){
		// 		e.preventDefault();
		// 		var brand = $('input[name="brand"]').val();
		// 		//alert(brand);
		// 		$.ajax({
		// 			type: 'get',
		// 			url: 'content/importProduct',
		// 			data: $('#StoreItems').serialize() ,
		// 			success: function(){
		// 				$('.alert-success').css('display','block');

		// 			}
		// 		});
		// 	})
		 })
	</script>
</body>
</html>